.doctor-card {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    border: 1px solid #daa38f;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #e9d7c0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.doctor-card-info {
    display: flex;
    padding: 16px;
    margin-bottom: 16px;
}

.doctor-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 16px;
    object-fit: cover;
}

.doctor-card-details-container {
    flex: 1;
}

.doctor-card-info h2 {
    margin-top: 0;
    margin-bottom: 8px;
    color: #9b7d61;
}

.doctor-card-info .specialty {
    color: #92ada4;
    margin-bottom: 4px;
}

.doctor-card-info .experience {
    color: #92ada4;
    margin-bottom: 4px;
}

.doctor-card-info .rating {
    color: #92ada4;
    margin-bottom: 4px;
}

.review-link {
    display: block;
    background-color: #9b7d61;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.review-link:hover {
    background-color: #daa38f;
}

.book-appointment-btn {
    background-color: #9b7d61;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-appointment-btn:hover {
    background-color: #daa38f;
}