.give-review-form {
    padding: 30px;
    border: 1px solid var(--secondary-accent);
    margin-top: 20px;
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.give-review-form h3 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--secondary-accent);
    border-radius: 8px;
    resize: vertical;
    font-size: 16px;
    color: var(--primary-background);
}

.rating {
    margin-bottom: 20px;
    text-align: center;
}

.rating label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

.star {
    cursor: pointer;
    font-size: 2.5em;
    color: #fff700;
    display: inline-block;
    margin-right: 8px;
    transition: color 0.2s;
}

.star.active {
    color: #f5c400;
}

button[type="submit"] {
    background-color: var(--interactive-color);
    color: var(--primary-background);
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: hsl(327, 78%, 85%);
}