header {
    background-color: #947eb0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #d8bfaa;
}

.logo img {
    margin-right: 10px;
    height: 30px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: #d8bfaa;
    text-decoration: none;
    font-size: 1em;
}

.nav-links li a:hover {
    text-decoration: underline;
    font-weight: bold;
}

body {
    margin: 0;
    padding-top: 60px;
}