* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-background);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--primary-background);
    position: fixed;
    top: 0;
    height: 12%;
    width: 100%;;
    z-index: 100;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: var(--secondary-accent);
    margin-left: 10px;
}

.logo img {
    margin-right: 10px;
    height: 30px;
}

.logo a {
    text-decoration: none;
    color: var(--secondary-accent);
    font-weight: bold;
    font-size: 1.5em;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links li a {
    color: var(--primary-text);
    text-decoration: none;
    font-size: 1.6em;
}

.nav-links li a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.7em;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.login-button,
.signup-button {
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--primary-background);
    background-color: var(--interactive-color);
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.4em;
}

.login-button:hover,
.signup-button:hover {
    background-color: hsl(327, 78%, 85%);
    font-size: 1.5em;
    font-weight: bold;
}

body {
    margin: 0;
    padding-top: 60px;
    background-color: var(--primary-background);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary-text);
}

.profile-dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: var(--interactive-color);
    color: var(--primary-background);
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: hsl(327, 78%, 85%);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--secondary-background);
    min-width: 220px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    border-radius: 4px;
}

.dropdown-content a {
    color: var(--primary-text) !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 19px !important;
}

.dropdown-content a:hover {
    background-color: #ddd;
    text-decoration: none !important;
    font-weight: bold !important;
}

.logout-button {
    background-color: var(--interactive-color);
    color: var(--primary-background);
    border-radius: 25px;
    border: 2px solid #555;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.logout-button:hover {
    background-color: hsl(327, 78%, 85%);
}

.dropdown:hover .dropdown-content {
    display: block;
}