* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #9b7d61;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #9b7d61;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #fed8a6;
    margin-left: 10px;
}

.logo img {
    margin-right: 10px;
    height: 30px;
}

.logo a {
    text-decoration: none;
    color: #daa38f;
    font-weight: bold;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links li a {
    color: #fed8a6;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

.nav-links li a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.login-button,
.signup-button {
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    background-color: #daa38f;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.login-button:hover,
.signup-button:hover {
    background-color: #e9d7c0;
}

body {
    margin: 0;
    padding-top: 60px;
    background-color: #e9d7c0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #9b7d61;
}