<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>StayHealthy Inc. - Navigation</title>
        <link rel='stylesheet' href='Navbar.css'>
    </head>
    <body>
        <header>
            <nav class='navbar'>
                <div class='logo'>
                    <img src='logo.png' alt='StayHealthy Inc logo'>
                    StayHealthy Inc.
                </div>
                <ul class='nav-links'>
                    <li><a href='#'>Home</a></li>
                    <li><a href='#'>Appointments</a></li>
                    <li><a href='#'>Reviews</a></li>
                    <li><a href='../Sign_Up/Sign_Up.html'>Sign Up</a></li>
                    <li><a href='../Login/Login.html'>Login</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>