.booking-consultation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100vw;
    margin-top: 75px;
}

.booking-consultation-container h1 {
    margin-bottom: 20px;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}