.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
    margin-top: 100px;
    background-color: #f9f9f9;
    color: var(--primary-text);
}

.profile-details h1 {
    font-size: 26px;
    margin-bottom: 10px;
    color: #333;
}

.profile-details p {
    font-size: 20px;
    margin-bottom: 5px;
    color: #666;
}

.profile-form {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--secondary-accent);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 550px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

.profile-form h2 {
    color: #333;
}

.profile-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

.profile-form input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid var(--secondary-accent);
    border-radius: 4px;
    font-size: 16px;
    color: var(--primary-background);
}

.profile-form input:disabled {
    background-color: #eee;
    color: #777;
    cursor: not-allowed;
}

.profile-form button {
    padding: 10px 15px;
    background-color: var(--interactive-color) !important;
    color: black !important;
    border: 2px solid #333 !important;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.profile-form button:hover {
    background-color: hsl(327, 78%, 85%) !important;
}

.profile-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.profile-container button {
    padding: 10px 15px;
    background-color: var(--interactive-color);
    color: var(--primary-background);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.profile-container button:hover {
    background-color: hsl(327, 78%, 85%);
}

.edit-button {
    background-color: var(--interactive-color) !important;
}

.edit-button:hover {
    background-color: hsl(327, 78%, 85%) !important;
}