body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--primary-background);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column-reverse;
}

.login-container {
    width: 400px;
    margin: 100px 620px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-text h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--secondary-accent);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    color: var(--primary-background);
}

.form-buttons {
    text-align: center;
    margin-top: 20px;
}

.form-buttons button {
    background-color: var(--interactive-color);
    color: var(--primary-background);
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
}

.form-buttons button:hover {
    background-color: hsl(327, 78%, 75%);
}

.signup-link {
    text-align: center;
    margin-top: 10px;
}

.signup-link a {
    color: var(--secondary-accent);
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}